<div id="navbar">
  <p>@Html.ActionLink("Home", "Index", "Home", null, new { @class="btn" })</p>
  <p>@Html.ActionLink("Courses", "Index", "Courses", null, new { @class="btn" })</p>
  <p>@Html.ActionLink("Students", "Index", "Students", null, new { @class="btn" })</p>
</div>