@{
  Layout = "_Layout";
}
<hr />

<h2>Add Course</h2>
@model OpalCollege.Models.Course

@using (Html.BeginForm())
{
<label>Course Title: </label>
  @Html.TextBoxFor(model => model.Title)
<br>
<br>
<label>Department: </label>
  @Html.DropDownList("DepartmentId")
<br>
<br>
<label>Course Level: </label>
  @Html.TextBoxFor(model => model.Level)
<br>
<br>
<label>Professor: </label>
  @Html.TextBoxFor(model => model.Professor)
<br>
<br>
  <input type="submit" value="Create Course">
}