@{
  Layout = "_Layout";
}
<hr />

<h2>Add Department</h2>
@model OpalCollege.Models.Department

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Subject)
  @Html.TextBoxFor(model => model.Subject)

  <input type="submit" value="Create Department">
}